.DS_Store
._*
*.swp
*~

# Python
__pycache__
*.pyc

# IDE
.idea

# temp files
*.json
python_codeql/**/.cache
python_codeql/**/*.bqrs
python_codeql/**/*.csv
python_codeql/**/*.facts
python_codeql/**/*.gv
python_codeql/**/*.pdf
python_codeql/pysrc
python_codeql/pydb
python_codeql/pysrc2
python_codeql/pydb2
python_codeql/edges
python_codeql/example
classifiers/databases
java_codeql/**/.cache
java_codeql/**/*.bqrs
java_codeql/**/*.csv
java_codeql/**/*.facts
java_codeql/**/*.gv
java_codeql/**/*.pdf

