astmonkey==0.3.6
javalang==0.13.0
networkx==2.5
numpy==1.19.5
pandas==1.1.5
regex
scikit-learn==0.24.2
scipy==1.5.4
setuptools
six==1.15.0
sklearn==0.0
tensorflow==2.4.1
tensorflow-gpu==2.4.1
torch==1.8.1
torch-geometric==1.7.0
torch-scatter==2.0.6
torch-sparse==0.6.9
tqdm
